
<style>
#chronicles {
    background-image: url(/img/issue1/seamlesspaper4.jpg);
    background-repeat: repeat-y repeat-x;
    background-position: top left;
    background-color: #e3dcd2;
}
#chronicles * {
    color: black;
}
        
		#chronicles a
		{
			color: black;
			text-decoration: underline;
                        
		}
		
		#chronicles td
		{
			-webkit-text-size-adjust: none;
		}
		
		#chronicles .body
		{
			text-align: justify;
			font-family: courier new;
			font-size: 12px;
                        
		}
		
		#chronicles .imageContainer
		{
			background-image: url(/img/issue1/monster_star2.png);
			background-repeat: repeat-y no-repeat;
			background-position: top left;
		}
		
		#chronicles .header
		{
			text-align: center;
			font-family: courier new;
			font-size: 28px;
			font-weight: bold;
		}
		
		
	</style>

<div id="chronicles">
    
<table style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="100%">
<table style="width: 600px;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="bg" width="600">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="600" valign="top"><img src="/uploads/2013/05/chroniclelogomay.png" width="386" height="111" /> <a href="http://www.playstarbound.com/store"><img src="/uploads/2013/04/planetText.png" alt="Preorder now!" /></a></td>
<!-- Header --></tr>
<tr>
<td align="center" width="600"><img src="/uploads/2013/05/maylettersub.png" alt="Crashing E3 Edition" /></td>
<!-- Subheader --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr><!-- HEADER SCREENSHOT -->
<td align="center" width="600"><img src="/uploads/2013/05/shipsall.gif" alt="Starter Ships" width="511" height="343" /></td>
<!-- Screenshot --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="10">&nbsp;</td>
</tr>
<tr>
<td class="header" align="center" width="600"><!-- MAIN HEADER --> Начальные корабли</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" valign="top" width="235">
<p><!-- FIRST COLUMN TEXT --></p>
<p><strong>Привет, читатели Хроник!</strong> В этом месяце мы решили показать вам начальные корабли всех рас.</p>
<p>Все расы имеют свои уникальные отличия и, естественно, это не может не отразиться на их кораблях!
    От дико-заросших кораблей Флоран, до ультрасовременных судов Апексов. Уникальный дизайн каждого корабля может изменить ваше мнение по поводу выбора расы вашего персонажа!
</td>
<td width="30">&nbsp;</td>
<td class="body" valign="top" width="235">
<p>Разум приказывает играть за Хилотлов, но тебе невероятно нравится корабль Глитчей?
    Не беспокойся! Подружись с Глитчем и тусуйся на его корабле!</p>
<p>Под следующими ссылками ты можешь найти изображения всех кораблей!</p>
<p><a href="/uploads/2013/05/humanship.png" target="_new">Люди</a> | <a href="/uploads/2013/05/avianship.png" target="_new">Авианы</a> | <a href="/uploads/2013/05/apexship.png" target="_new">Апексы</a></p>
<p><a href="/uploads/2013/05/floranship.png" target="_new">Флораны</a> | <a href="/uploads/2013/05/hylotlship.png" target="new">Хилотлы</a> | <a href="/uploads/2013/05/glitchship.png" target="_new">Глитчи</a></p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="10">&nbsp;</td>
</tr>
<tr>
<td class="header" align="center" width="600"><!-- CRASH E3 HEADER --> Indies Crash E3!</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" valign="top" width="235">
<p><!-- FIRST COLUMN TEXT --></p>
<p>На прошлой неделе мы были номинированы на Indies Crash E3, конкурс, организованный разработчиками <a href="http://playensemble.com/" target="_blank">Ensemble Online</a>!</p>
<p>Победителям оплатят проезд и проживание на E3. Мы идём ноздря в ноздрю с другой замечательной студией под названием Saibot,
    поэтому нам очень нужна ваша поддержка, чтобы победить!
    Если нам удастся сделать это и мы попадём на E3, мы снимем видео наших приключений на выставке,
    <strong>а ещё мы принесём туда ноутбук, на котором любой желающий сможет поиграть в Starbound в его текущем состоянии</strong>!
</td>
<td width="30">&nbsp;</td>
<td class="body" valign="top" width="235">
<p>Нам бы очень хотелось, чтобы это произошло и мы действительно хотим попасть туда и увидеть вас всех!
    Если вы хотите помочь нам, <a href="http://indiescrashe3.com/nomination/BEBA0682-95E8-76F9-C89D-D9EB6F0DF43E" target="_blank">перейдите по этой ссылке</a>
    или нажмите на картинку ниже и проголосуйте за нас. <strong>Спасибо!</strong></p>
<p><div align="center"><a href="http://indiescrashe3.com/nomination/BEBA0682-95E8-76F9-C89D-D9EB6F0DF43E" target="_blank"><img src="/uploads/2013/05/indiescrashe3.png" alt="Indies Crash E3"></a></div></p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="10">&nbsp;</td>
</tr>
<tr>
<td class="header" align="center" width="600"><!-- SECOND HEADER --> Письма читателей</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" valign="top" width="235">
<p><!-- FIRST COLUMN TEXT --></p>
<p><strong>Привет, ребята! Говорит Израиль! Я сам занимался разработкой игр три года назад, когда я играл в Cave Story, 
        и я хотел бы сделать карьеру на этом поприще, когда закончу университет.
        Конечно я знаю, что большинство из вас не работало над Террарирей, но я должен упоменуть, что я люблю эту игру
        и многое из того, что мне в ней нравится, унаследовал Starbound.</p>
<p>Хотя я не сильно участвую в жизни сообщества, я слежу за игрой настолько пристально, насколько могу.
    Я с интересом наблюдаю как вы, ребята, повышаете готовность игры.
    Если игра не выйдет, то я выслежу ВАС ВСЕХ и буду читать вам очень злые хайку. А потом буду плакать.
<br>-Израиль</strong></p>
<p>Привет, Израиль! Мы надеемся тебе удастся карьера разработчика игр. Иди за своей мечтой, мужик! &lt;3<br>
PS- Если игра всё таки выйдет, может всё равно напишешь нам злые хайку? Мы любим злые хайку. В нашем списке фаворитов они вторые, сразу после невероятно ужасных сонетов.<br>
<strong>- Команда Хроник Starbound</strong></p>

</td>
<td width="30">&nbsp;</td>
<td class="body" valign="top" width="235">
<p><strong>Привет, мой друг посоветовал отправить вам мои рисунки. Ещё я слышал, что немного фанартов попадёт в следующие хроники.<br>
Надеюсь, они вам понравятся!</br>
-EmRA</strong></p>
<p>Привет EmRa! Нам очень понравились твои фанарты, поэтому мы публикуем их в Хрониках, на суд читателей! Спасибо, что написал!<br>
<strong>- Команда Хроник Starbound</strong></p>
<p><a href="http://emraperkele.deviantart.com/art/See-you-space-cowboy-367926099?q=gallery%3Aemraperkele&amp;qo=0" target="_new"><img src="/uploads/2013/05/emrafanart1.png"></a><br>
<a href="http://emraperkele.deviantart.com/art/robits-367925238?q=gallery%3Aemraperkele&amp;qo=1" target="_new"><img src="/uploads/2013/05/emrafanart2.png"></a></p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td class="header" align="center" width="600"><!-- THIRD HEADER --> Новая музыка</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr><!-- HEADER SCREENSHOT -->
<td align="center" width="600"><img src="/uploads/2013/05/curtissolosts1.png" alt="Новая музыка"/></td>
<!-- Screenshot --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" valign="top" width="500">
<p>Наши превосходные композиторы, <a href="http://curtisschweitzer.com" target="_new">Кёртис Швейтцер</a> и <a href="http://www.solatrus.com" target="_new">Solatrus</a>, 
    выпустили ещё немного музыки, связанной со Starbound. Вы уже получили эти треки, если вы сделали предзаказ.
    Ну а если нет, то посетите их личные сайты и продемонстируйте свою любовь их новым альбомам! Вы можете послушать эти треки прямо у них на сайтах.</p>
<p>Альбом Кёртиса <a href="http://curtisschweitzer.com/starbound-ost" target="_new">здесь</a>, а Solatrus-а <a href="http://www.solatrus.com/discography/selections-from-starbound/" target="_new">здесь</a>!</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td class="header" align="center" width="600"><!-- THANKS HEADER --> Спасибо вам!</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr><!-- HEADER SCREENSHOT -->
<td align="center" width="600"><a href="http://playstarbound.com/thank-you/" target="_new"><img src="/uploads/2013/05/1milnewsimg.png" alt="Миллион!"/></a></td>
<!-- Screenshot --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td class="header" valign="top" width="600"><img src="/uploads/monsters/52.gif" alt="Выглядит дружелюбно!" /></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;"><b>PS</b>- Очень скоро будет трейлер!<br></span></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Будь ближе к нам! <a href="http://twitter.com/#!/tiyuri" target="_blank"><img title="ICON_twitter" src="/img/ICON_twitter.png" alt="Twitter!" width="16" height="16" /></a><a href="http://www.facebook.com/pages/Starbound/220483464714766" target="_blank"><img title="ICON_fb" src="/img/ICON_fb.png" alt="Facebook!" width="16" height="16" /></a><a href="mailto:contact@chucklefish.org" target="_blank"><img title="ICON_email" src="/img/ICON_email.png" alt="Email us!" width="16" height="16" /></a><a href="http://playstarbound.com/?feed=rss" target="_blank"><img title="RSS" src="/img/rss.png" alt="Newsfeed!" width="16" height="16" /></a></span></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Перевод подготовлен специально для сайта <a href="http://starbound.ru/">starbound.ru</a></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

    
    
</div>