<style>
#chronicles {
    background-image: url(/img/issue1/seamlesspaper4.jpg);
    background-repeat: repeat-y repeat-x;
    background-position: top left;
    background-color: #e3dcd2;
}
#chronicles * {
    color: black;
}
        
		#chronicles a
		{
			color: black;
			text-decoration: underline;
                        
		}
		
		#chronicles td
		{
			-webkit-text-size-adjust: none;
		}
		
		#chronicles .body
		{
			text-align: justify;
			font-family: courier new;
			font-size: 12px;
                        
		}
		
		#chronicles .imageContainer
		{
			background-image: url(/img/issue1/monster_star2.png);
			background-repeat: repeat-y no-repeat;
			background-position: top left;
		}
		
		#chronicles .header
		{
			text-align: center;
			font-family: courier new;
			font-size: 28px;
			font-weight: bold;
		}
		
		
	</style>

<div id="chronicles">
<table cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td align="center">
<table  cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="bg">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="600"><img src="/img/issue1/newsletterlogomarch.png" alt="Хроники Starbound | Март 2013 " width="386" height="111" /></td>
<!-- Header --></tr>
<tr>
<td align="center" width="600"><img src="/img/issue1/subheadingmarch.png" alt="Такой новый и блестящий!" /></td>
<!-- Subheader --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr><!-- HEADER SCREENSHOT -->
<td align="center" width="600">
<p><img src="/img/issue1/glidinggifnews.gif" alt="Gliding!" width="511" height="343" /></p>
<p><span style="font-family: 'courier new'; font-size: 12px; text-align: justify;">Пари или падай элегантно!</span></p>
</td>
<!-- Screenshot --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="10">&nbsp;<span style="font-family: 'courier new'; font-size: 12px; text-align: justify;"><br /></span></td>
</tr>
<tr>
<td class="header" align="center" width="600"><!-- MAIN HEADER --> Модификации снаряжения!</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" width="235" valign="top">
	<p>Это первый выпуск Хроник Starbound, в котором мы хотели бы рассказать вам о том, чем мы занимались последний месяц.</p>
	<p>Большую часть времени мы работали над улучшениями снаряжения.</p>
	<p>До сих пор мы не многое рассказывали про механику улучшений и самое время приоткрыть завесу тайны.</p>
	<p>В игре будут три типа снаряжения: необыкновенные (uncommon), редчайшие (rare) и легендарные (legendary) (названия, возможно, изменятся). Каждый тип будет иметь свой набор улучшений.</p>
	<p>Модификации будут самые разнообразные: от доспехов, светящихся в темноте, до встроенных дефиблиряторов, которые, при наличии энергии, вернут вас к жизни.</p>
<p>&nbsp;</p>
</td>
<td width="30">&nbsp;</td>
<td class="body" width="235" valign="top">
	<p>Вы можете сами создавать снаряжение с улучшениями. В самом начале игры каждая раса может создавать своё уникальное снаряжение, с улучшениями, которые другие расы создавать не могут. Полёт Авиан, изображённый выше, - пример одного из улучшения, доступного лишь определенной расе.</p>
	<p>По мере развития игроки смогут узнавать секреты других рас, но до того момента улучшения придают каждой расе свой уникальный стиль игры, подчёркивающий необходимость работы в команде.</p>
<p><img src="/img/issue1/armormods.png" alt="Yay, armor mods!" /></p>
<p>Позже мы расскажем немного больше про модификации, включая моды оружия, которые полностью меняют способы его использования.</p>
<p>- <strong>команда Хроник Starbound</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr><!-- SECOND ARTICLE SCREENSHOT -->
<td align="center" width="600">
<p><img src="/img/issue1/102939201.png" alt="" width="511" height="343" /></p>
<p><span style="font-family: 'courier new'; font-size: 12px; text-align: justify;">Всплывающая подсказка ;)</span></p>
</td>
<!-- Screenshot --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="10">&nbsp;</td>
</tr>
<tr>
<td class="header" align="center" width="600">История, лор и музыка!</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" width="235" valign="top">
	<p>Другая немаловажная часть игры, на которую мы направили свои силы, это освещение истории каждой расы Starbound и создание полной и всеобъемлящей легенды.</p>
	<p>Легенды Starbound будут представлены как в виде книг, летописей, заметок и других материалов, которые можно найти в мире, так и из диалогов с персонажами, которые будут делиться различной информацией, в зависимости от расы игрока.</p>
	<p>Игроки будут вести журнал, в котором будет отражено всё, что они обнаружили, что позволит собрать по крупицам богатую историю событий, послуживших созданию каждой расы и их значению во вселенной.</p>
	<p>Чтобы дать вам представление о глубине этих данных, мы решили поделиться с вами выдержкой из истории (лора) расы Авиан, над которой мы работаем.</p>
	<p>Вы можете скачать PDF-документ с историей Авиан нажав на кнопку ниже!</p>
<p><a href="/files/avianlore_pdf.pdf"><img src="/img/issue1/avianlorebutton.png" alt="Нажмите, чтобы скачать AvianLore.PDF!" width="235" height="119" /></a></p>
</td>
<td width="30">&nbsp;</td>
<td class="body" width="235" valign="top">
<p>Кроме того, в этом месяце мы решили выкладывать больше музыки из Starbound. Мы открыли доступ к большой коллекции записей, которые будут звучать во время исследования мира.</p>
<p>Послушать их можно на нашем сайте: <a href="http://www.playstarbound.com/soundtrack">www.playstarbound.com/soundtrack</a>.</p>
<p>А для читателей Хроник мы подготовили <strong>эксклюзивный</strong> ("Ого!", - Tiy) трек. "Eridanus Supervoid" от прекрасного Кёртиса Швейцера.</p>
<p></p>
<p></p>
<p><a href="/files/mp3/Eridanus-Supervoid.mp3"><img src="/img/issue1/eridanusvoidbutton.png" alt="Нажмите, чтобы скачать Eridanus Supervoid!" /></a></p>
<p>- <strong>команда Хроник Starbound</strong></p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="imageContainer" width="600">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td class="header" width="600">Письма читателей</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" width="235">
<p><strong style="font-size: 1.5em;">Письмо месяца!</strong></p>
<p>Дорогая команда Starbound! Я очень жду выхода вашей игры. Но меня беспокоит кое-что. Даже больше, у меня экзистенциальный кризис! Я заметил, что Starbound позволяет мне выбрать персонажа, которым я могу играть. И я переживаю, что я потрачу очень много времени на его выбор и пропущу главные события в моей жизни, такие, как день рождение моего пёсика. Не могли бы вы порекомендовать, какого персонажа мне выбрать? Я хочу, чтобы мой аватар отражал, что я бунтарь.
</p>

<p><strong>С уважением, Рэнди П.</strong></p>
<p><strong>&nbsp;- Рэнди П. из интернета</strong></p>

<p>Что ж, Рэнди. С сожалением могу сообщить, что мы ещё не создали расу Джона Маккейна. Поэтому, не зависимо от того, какую расу ты выберешь, твоему персонажу суждено остаться одиноким. Вообще ты можешь сам выбрать как он будет выглядеть. Я уверен, что такая поза очень подойдёт твоему бунтарскому характеру:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="/img/issue1/johnmccain1.png" alt="Самый бунтарный бунтарь!" /></p>
<p>Похоже, я не смог помочь преодолеть твой кризис, да? Передавай пёсику мои поздравления.</p>
<p>&nbsp;<strong>- команда Хроник Starbound</strong></p>
</td>
<td width="30">&nbsp;</td>
<td class="body" width="235">
<p><strong style="font-size: 1.5em;">Вкусные Флоране</strong></p>
<p><strong>А Флоране на вкус как сельдерей? Хороши ли они с домашним соусом?</strong></p>
<p><strong>- Пол из интернета</strong></p>
<p>Привет, Пол! У нас нет никаких записей о том, чтобы кто-то ел Флоран, кроме других Флоран. Я попрошу одного для тебя, но, мне кажется, Флоране с домашним соусом могут оказаться ядовитыми.</p>
<p><strong>- команда Хроник Starbound</strong></p>
<p>&nbsp;</p>
<p><strong style="font-size: 1.5em;">Бард</strong></p>
<p><strong>Привет! Я видел как вы говорили с Malukah в Твиттере. Может быть она споёт для вас песню? Обажаю её голос!</strong></p>
<p><strong>- Сара Ж. из интернетов</strong></p>
<p>Привет, Сара! Мы и правда говорили с Malukah о записи песни. И нам тоже очень нравится её голос. Всем рекомендуем послушать её каверы на Youtube, если вы их ещё не слышали!</p>
<p>&nbsp; &nbsp; &nbsp;<a href="http://www.malukah.com/"><img src="/img/issue1/malukahpic.png" alt="Malukah!" /></a></p>
<p><strong>- команда Хроник Starbound</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td class="header" width="600">Хроники от <a href="http://endling.deviantart.com/" target="_blank">Endling</a></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="footer" align="center" width="600">
<p><img src="/img/issue1/endlingcomic01.png" alt="We're taking this page to the centrifuge!" /></p>
</td>
</tr>
<tr>
<td align="center" width="600" height="20"><img src="/img/issue1/birthday-1.gif" alt="" /><br /><span style="font-family: 'courier new'; font-size: 13px; text-align: justify;"><strong>И за одно... С днём рождения, сообщество Starbound!</strong></span></td>
</tr>
<!--<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Хочешь <a href="http://playstarbound.com/{unsubscription_url}">отписаться</a>? (Не покидааай нааас! &lt;3)</span></td>
</tr>-->
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Будь ближе к нам! <a href="http://twitter.com/#!/tiyuri" target="_blank"><img title="ICON_twitter" src="/img/ICON_twitter.png" alt="Twitter!" width="16" height="16" /></a><a href="http://www.facebook.com/pages/Starbound/220483464714766" target="_blank"><img title="ICON_fb" src="/img/ICON_fb.png" alt="Facebook!" width="16" height="16" /></a><a href="mailto:contact@chucklefish.org" target="_blank"><img title="ICON_email" src="/img/ICON_email.png" alt="Email us!" width="16" height="16" /></a><a href="http://playstarbound.com/?feed=rss" target="_blank"><img title="RSS" src="/img/rss.png" alt="Newsfeed!" width="16" height="16" /></a></span></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Перевод подготовлен специально для сайта <a href="http://starbound.ru/">starbound.ru</a></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>