
<style>
#chronicles {
    background-image: url(/img/issue1/seamlesspaper4.jpg);
    background-repeat: repeat-y repeat-x;
    background-position: top left;
    background-color: #e3dcd2;
}
#chronicles * {
    color: black;
}
        
		#chronicles a
		{
			color: black;
			text-decoration: underline;
                        
		}
		
		#chronicles td
		{
			-webkit-text-size-adjust: none;
		}
		
		#chronicles .body
		{
			text-align: justify;
			font-family: courier new;
			font-size: 12px;
                        
		}
		
		#chronicles .imageContainer
		{
			background-image: url(/img/issue1/monster_star2.png);
			background-repeat: repeat-y no-repeat;
			background-position: top left;
		}
		
		#chronicles .header
		{
			text-align: center;
			font-family: courier new;
			font-size: 28px;
			font-weight: bold;
		}
		
		
	</style>

<div id="chronicles">
    
<table style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="100%">
<table style="width: 600px;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="bg" width="600">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="600" valign="top"><img src="/uploads/chronicle/2013/04/newsletterapril.png"  width="386" height="111" /> <a href="http://www.playstarbound.com/store"><img src="/uploads/chronicle/2013/04/planetText.png" alt="Preorder now!" /></a></td>
<!-- Header --></tr>
<tr>
<td align="center" width="600"><img src="/uploads/chronicle/2013/04/april2013sub.png" alt="Путь к бете" /></td>
<!-- Subheader --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr><!-- HEADER SCREENSHOT -->
<td align="center" width="600"><a href="http://store.playstarbound.com/" target="_blank"><img src="/uploads/chronicle/2013/04/preorderiscoming.png" alt="" width="511" height="343" /></a></td>
<!-- Screenshot --></tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="10">&nbsp;</td>
</tr>
<tr>
<td class="header" align="center" width="600"><!-- MAIN HEADER --> Предзаказ Starbound!</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" valign="top" width="235">
<p><!-- FIRST COLUMN TEXT --></p>
<p><strong>Счастливого Апреля, читатели Хроник!</strong></p>
<p>Многие из вас постоянно задавали нам кучу вопросов, вот главные из них:</p>
<p><strong>1) Когда можно сделать предзаказ?</strong></p>
<p><strong>2) Когда будет готова бета?</strong></p>
<p><strong>3) Насколько продвинулась разработка Starbound?</strong></p>
<p><strong>4) КОГДА ВЫЙДЕТ ИГРА?!!1</strong></p>
<p>Наконец-то мы можем ответить на три из этих вопроса!</p>
<p>Сегодня мы запустили предзаказ на сайте PlayStarbound.com, с помощью Humble Store. Заказав копию Starbound за $15 вы получите доступ к бете, когда она будет готова
    и сможете скачать саундтреки, которые будут добавляться по мере их появления.</p>
</td>
<td width="30">&nbsp;</td>
<td class="body" valign="top" width="235">
<p>А если вы хотите получить некоторые бонусы и посильнее поддержать нас, мы подготовили несколько опций заказа,
    позволяющих сделать это, за что вы получите награды, такие как значок на форуме, возможность разработать шляпу,
    статую в игре, похожую на вас, право дать имя NPC и т.п.</p>
<p>Ключевым моментом является то, что предзаказа Starbound даст вам доступ к бете, когда она будет &nbsp;<em>готова</em>,
    а так как мы работаем каждый день, чтобы это случилось как можно быстрее, мы не можем назвать точную дату прямо сейчас.</p>
<p>Да, мы знаем что дата очень расыплвчата. Откуда вам знать, сколько мы уже сделали и чем вообще сейчас занимаемся?</p>
<p><strong>Итак...</strong></p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="10">&nbsp;</td>
</tr>
<tr>
<td class="header" align="center" width="600"><!-- SECOND HEADER --><a href="http://starbound.ru/roadmap/" target="_blank"><img src="/uploads/chronicle/2013/04/roadmapbanner.png" alt="Прогресс разработки Starbound!" /></a></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" valign="top" width="235">
<p><!-- FIRST COLUMN TEXT --></p>
<p>Нажмите на баннер выше, чтобы открыть &nbsp;<strong>Roadmap to the Stars</strong> (прогресс разработки)!
    Выполненый в классическом стиле JRPG, прогресс разработки покажет вам, чем мы сейчас занимаемся и что
    ещё необходимо сделать, прежде чем выйдет бета. А ещё это очень удобный инструмент для организации нашей работы!</p>
</td>
<td width="30">&nbsp;</td>
<td class="body" valign="top" width="235">
<p>Нажмите метку на карте, чтобы увидеть список задач, каждая из которых имеет своё описание и прогресс.
    Человечки, трясущие головой, изображают основных разработчиков и показывают, чем они сейчас занимаются.
    Они будут двигаться по карте во время разработки.</p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td class="header" valign="top" width="600"><img src="/uploads/chronicle/2013/04/spotlight.png" alt="Обзор Сообщества" /></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" valign="top" width="500">
<p>В этом месяце мы представлям вам рубрику Обзор Сообщества, в которой расскажем о клёвых штуках, которые делает наше сообщество. Для начала...</p>
<p><a href="http://community.playstarbound.com/index.php?threads/vector-squared-starbound-community-news-issue-21.16567/" target="_blank"><img src="/uploads/chronicle/2013/04/vector2banner.png" alt="Vector Squared" /></a></p>
<p><strong>Vector Squared</strong> - это еженедельная газета для сообщества,
    которая составляется несколькими замечательными форумчанами: <strong>nababoo</strong>, <strong>Keeper</strong>, <strong>Strife</strong>, 
    <strong>WackyWocky</strong>, <strong>ReverseShadow</strong>, <strong>shardival</strong> и <strong>Jonesy</strong>.
    Они публикуют недавно появившиеся скриншоты, свежие события, популярные предложения, фан-арты и многое другое. Их тема - прекрасный способ узнавать новости, связанные
    со Starbound, которые вы пропустили на прошлой неделе!</p>
<p><a href="http://community.playstarbound.com/index.php?threads/the-monster-of-the-week-fan-art-thread-post-your-napkin-doodles-here.16014/" target="_blank"><img src="/uploads/chronicle/2013/04/weeklymonsterfanartthread1.png" alt="Еженедельный Монстр-Фанарт" /></a></p>
<p><strong>Еженедельный Монстр-Фанарт</strong> - новая тема на форуме, созданная пару недель назад форумчанином <strong>R3MI</strong>, который решил
    перерисовывать пятничных монстров, сгенерированных случайным образом.
    Идея прижилась, её поддержали много людей, которые теперь рисуют свои варианты того, что выплёвывает наш Монстрбокс. Мы с нетерпением ждём обновлений в этой теме каждую неделю!</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td class="header" valign="top" width="600">Могущественная Авианская Девица</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td class="body" valign="top" width="500">
<div align="center"><p><b>В этом месяце предлагаем вам почитать спектакль Авианов, за автроством <i>demanrisu</i>.</b></p>
<b>ЧАСТЬ III</b></div>
<p><i>    <b>Примечание переводчика на человечий:</b> наиболее близким по значению к авианскому слову "могущественный" 
        (которое, конечно-же, произносится с выкрикиванием) в нашем языке будет словосочетание "страдающий от газов". 
        Этот текст является отличным источником информации, который позволяет нам получить начальные представления о культуре Авианов,
        которая, похоже, родилась лишь после первого контакта с нами.
<br>Очень важно отметить, что перевод сделан с повреждённого документа, в котором отсутствуют крупные фрагменты.</i>
<br>
<p><b><i>Сцена: Улица. Башня Самоубийств Авианского Храма. Дарующая-Крылья, авианская жрица, читает лекции о загробной жизни группе молодых Авианов.</i></b></p>

<p><b>Дарующая-Крылья:</b> "...и как только вы ударитесь о землю, ваша душа перейдёт в Эфир, где сам Клюекс определит её дальнейшую судьбу."</p>
<p><b>Первый ученик:</b> "А что если не умрёшь, когда упадёшь на землю?"</p>
<p><b>Дарующая-Крылья:</b> "Значит вы избраны, чтобы служить Клюексу и Рэху на стороне смертных."</p>
<p><b>Первый ученик:</b> "Понятно. Эй, чем это пахнет?!"</p>

<p><b><i>За сценой слышен зловещий грохот, сотрясающий землю.</i></b></p>

<p><b>Дарующая-Крылья:</b> "Мои извинения. Я очень могущественна сегодня."</p>
<p><b>Второй ученик:</b> "Ого-го! Запах покруче чем вонь в деревне, полной Земляных!"</p>
<p><b>Дарующая-Крылья:</b> "Но-но! Мы не упоминаем их в храме."</p>
<p><b>Первый ученик:</b> "Думаю, у меня есть шансы остаться на стороне смертных."</p>

<p><b><i>Сцена: Первый ученик делает шаг к краю крыши Башни Самоубийств.</i></b></p>

<p><b>Первый ученик:</b> "Дарующая-Крылья, страсть ваша ведёт меня к краю! Буквально!"</p>
<p><b>Дарующая-Крылья:</b> "О, да! Ученики, посмотрите на пример этого молодого Авиана! Он отправляет свою душу в Эфир!"</p>
<p><b>Первый ученик:</b> И пусть мою судьбу определит Клюекс!</p>

<p><b><i>Сцена: Первый ученик падает с края башни, кратко вскрикивая, прежде чем громкий удар возвещает о его приземлении. Второй ученик медленно движется к краю и заметно дрожит.</i></b></p>

<p><b>Второй ученик:</b> О, Рэх! Я уже чувствую тебя!</p>

<p><b><i>Сцена: Второй ученик прыгает с башни. Слышен второй удар.</i></b></p>

<p><b>Дарующая-Крылья:</b> Великолепно! Клюекс направит эти души в Эфир!</p>

<p><b><i>За сценой слышны крики второго ученика, мольбы о помощи, он выжил после падения.</i></b></p>

<p><b><i>Сцена: Третий ученик, не в состоянии вынести могущественности жрицы, начинает идти к краю Башни Самоубийств.</i></b></p>

<p><b>Третий ученик:</b> Не буду заставлять его ждать.</p>

<p><b><i>Сцена: задыхающийся от запаха, третий ученик с разбега прыгает с башни.</i></b></p>

<p><b><i>За сценой слышны визги второго ученика.</i></b></p>

<p><b>Второй ученик:</b> Неееет! Только не на меня! Только не на...</p>

<p><b><i>За сценой слышен мягкий удар, после чего наступает абсолютная тишина.</i></b></p>
<div align="center">-----------</div>
</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td class="header" valign="top" width="600"><img src="/uploads/monsters/48.gif" alt="Выглядит дружелюбно!" /></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;"><b>P.S.</b> Просим прощения за задержку! Клянёмся, мы не били баклуши, мы просто ждали, чтобы анонсировать предзаказ! В следующем месяце Хроники будут вовремя! :)<br></span></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Будь ближе к нам! <a href="http://twitter.com/#!/tiyuri" target="_blank"><img title="ICON_twitter" src="/img/ICON_twitter.png" alt="Twitter!" width="16" height="16" /></a><a href="http://www.facebook.com/pages/Starbound/220483464714766" target="_blank"><img title="ICON_fb" src="/img/ICON_fb.png" alt="Facebook!" width="16" height="16" /></a><a href="mailto:contact@chucklefish.org" target="_blank"><img title="ICON_email" src="/img/ICON_email.png" alt="Email us!" width="16" height="16" /></a><a href="http://playstarbound.com/?feed=rss" target="_blank"><img title="RSS" src="/img/rss.png" alt="Newsfeed!" width="16" height="16" /></a></span></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Перевод подготовлен специально для сайта <a href="http://starbound.ru/">starbound.ru</a></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>