
<style>
#chronicles {
    background-image: url(/img/issue1/seamlesspaper4.jpg);
    background-repeat: repeat-y repeat-x;
    background-position: top left;
    background-color: #e3dcd2;
}
#chronicles * {
    color: black;
}
        
		#chronicles a
		{
			color: black;
			text-decoration: underline;
                        
		}
		
		#chronicles td
		{
			
		}
		
		#chronicles .body
		{
			text-align: justify;
			font-family: courier new;
			font-size: 12px;
                        
		}
		
		#chronicles .imageContainer
		{
			background-image: url(/img/issue1/monster_star2.png);
			background-repeat: repeat-y no-repeat;
			background-position: top left;
		}
		
		#chronicles .header
		{
			text-align: center;
			font-family: courier new;
			font-size: 28px;
			font-weight: bold;
		}
		
		
	</style>

<div id="chronicles">
    
<table style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="100%">
<table style="width: 600px;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="bg" width="600">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="top" width="600"><img src="/uploads/2013/06/june2013logo.png" alt="Please enable images in your e-mail client!" width="386" height="111" /><a style="color: black; text-decoration: underline;" href="http://www.playstarbound.com/store/" target="_blank"><img src="http://playstarbound.com/wp-content/uploads/2013/04/planetText.png" alt="Preorder now!" /></a></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style=" text-align: center; font-family: courier new; font-size: 28px; font-weight: bold;" align="center" width="600">Вступительные ролики</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="600"><img src="/uploads/2013/06/cinematicsscreenjune2013.png" alt="Culinary Arts!" width="511" height="343" /></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td style=" text-align: justify; font-family: courier new; font-size: 12px;" align="justify" valign="top" width="235">
    <p><strong>Starbound</strong> &mdash; игра про то, как вы покидаете родной дом и отправляетесь в бескрайний космос навстречу приключениям и новой жизни. Мы хотели позволить игроку самому определять, каков характер его персонажа и какие решения он будет принимать по ходу игры, но одновременно давать некоторую информацию о истории, стоящей за происходящими событиями.</p>
<p>В начале игры вам будет показан комиксообразный вступительный ролик, дающий вам представление о том, почему представитель каждой из семи играбельных рас может захотеть собрать вещи и уйти из дома.</p>
</td>
<td width="30">&nbsp;</td>
<td style=" text-align: justify; font-family: courier new; font-size: 12px;" align="justify" valign="top" width="235">
<p>Legris работал над графикой для этих роликов, и мы будем стараться показывать вам некоторые тизеры по ходу разработки.</p>
<p>Мы получили множество записей, которые присылали нам актеры, желающие озвучивать вступительные ролики, и многие из них действительно отлично звучат!</p>
<p>Голос озвучки скоро будет выбран, и мы, несомненно, сообщим вам об этом! ;)</p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
&nbsp;
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style=" text-align: center; font-family: courier new; font-size: 28px; font-weight: bold;" align="center" width="600">Space Cakes!</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="600"><img src="http://playstarbound.com/wp-content/uploads/2013/06/cookingscreenshot.png" alt="Culinary Arts!" width="511" height="343" /></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td style=" text-align: justify; font-family: courier new; font-size: 12px;" align="justify" valign="top" width="235">
<p>Еще одна вещь, над которой мы работали в последнее время, это механика кулинарии. Каждая раса начинает со своим стартовым меню (первое, гарнир, закуски, напитки и т.д.), но по мере исследования галактики вы сможете постичь и тайны экзотической инопланетной кухни других рас. Вряд ли вы захотите перейти с буррито на механический суп Glitch, но при желании у вас будет такая возможность. Опять же, никто не может гарантировать, что ваши людские желудки не вывернет от тяжести какой-нибудь там авианской еды.</p>
</td>
<td width="30">&nbsp;</td>
<td style=" text-align: justify; font-family: courier new; font-size: 12px;" align="justify" valign="top" width="235">
<p>Еду вы сможете готовить на кулинарных столах из овощей, мяса и других ингредиентов, которые вы сможете собрать на своей грядке, купить в магазине или выменять у местных жителей. Чем ценней ваши звездные тыквы, тем более эффективны будут бонусы от приготовленной из них еды.</p>
<p>Если же вы не хотите пробовать на вкус вашу стряпню, вы всегда можете накрыть стол и позвать гостей. Подать королевский обед!</p>
</td>
<td width="50">&nbsp;</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td style=" text-align: center; font-family: courier new; font-size: 28px; font-weight: bold;" align="center" width="600">Fan Art</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="600"><a style="color: black; text-decoration: underline;" href="http://johnsu.deviantart.com/art/Race-to-the-Bars-373292893" target="_blank"><img src="http://playstarbound.com/wp-content/uploads/2013/06/bietolthumbnail.png" alt="Race to the Bars by Bietol" /></a></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td style=" text-align: justify; font-family: courier new; font-size: 12px;" align="justify" valign="top" width="500">
<p>Мы получили массу отличных работ в этом месяце. Вот этот рисунок сверху называется Race to the Bars
    за авторством Bietol. Другие его работы вы можете найти <a style="color: black; text-decoration: underline;" href="http://johnsu.deviantart.com/" target="_blank">здесь</a>.</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="600"><a style="color: black; text-decoration: underline;" href="http://fc00.deviantart.net/fs71/f/2013/128/2/9/the_great_race_by_shardival-d64mb14.png" target="_blank"><img src="http://i.imgur.com/4KO5FoT.png" alt="Race to the Bars by Bietol" /></a></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="50">&nbsp;</td>
<td style=" text-align: justify; font-family: courier new; font-size: 12px;" align="justify" valign="top" width="500">
<p>Этот милый дикарь-флоран был прислан пользователем Shardival. <a style="color: black; text-decoration: underline;" href="http://shardival.deviantart.com/" target="_blank">Ознакомьтесь</a> с другими его рисунками! Большое спасибо всем, кто присылал свои работы!</p>
</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td style=" text-align: center; font-family: courier new; font-size: 28px; font-weight: bold;" align="center" width="600">Short-Term Memory Loss</td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" width="600"><img src="/uploads/2013/06/sbcomic-final1.png" alt="Shoot first, forget to ask questions later!" /></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;"><strong>Credits:</strong><a style="color: black; text-decoration: underline;" href="http://community.playstarbound.com/index.php?members/pflute.3032/" target="_blank">PFlute</a> for the lines + story, <a style="color: black; text-decoration: underline;" href="http://mhindman.deviantart.com/" target="_blank">Mhindman</a> for the background colors!<br /></span></td>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="600" height="20">&nbsp;</td>
</tr>
<tr>
<td style=" text-align: center; font-family: courier new; font-size: 28px; font-weight: bold;" align="center" valign="top" width="600"><img src="/uploads/2013/06/KBYpIoo.gif" alt="Floran Respawn Animation" /></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;"><strong>Bonus! Here's Rho's WIP Floran respawn animation.</strong></span></td>
</tr>
<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Будь ближе к нам! <a href="http://twitter.com/#!/tiyuri" target="_blank"><img title="ICON_twitter" src="/img/ICON_twitter.png" alt="Twitter!" width="16" height="16" /></a><a href="http://www.facebook.com/pages/Starbound/220483464714766" target="_blank"><img title="ICON_fb" src="/img/ICON_fb.png" alt="Facebook!" width="16" height="16" /></a><a href="mailto:contact@chucklefish.org" target="_blank"><img title="ICON_email" src="/img/ICON_email.png" alt="Email us!" width="16" height="16" /></a><a href="http://playstarbound.com/?feed=rss" target="_blank"><img title="RSS" src="/img/rss.png" alt="Newsfeed!" width="16" height="16" /></a></span></td>
</tr>
<!--<tr>
<td align="center" width="600" height="20">&nbsp;<span style="font-family: 'courier new'; font-size: 13px; text-align: justify;">Перевод подготовлен специально для сайта <a href="http://starbound.ru/">starbound.ru</a></span></td>
</tr>-->


</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>    
    
</div>