<div id="news">
{% embed "blocks/table.twig" with {nodate: true, withcomments: true, icon: 5} %}
        {% block title %}Об игре{% endblock %}
        {% block content %}
                <p><b>Starbound</b> &mdash; новая игра, разрабатываемая Chucklefish, компанией инди-игр, созданной дружной командой чуваков и чувих.  Если вам нравится то, что вы видите, пожалуйста, оставляйте комментарии и рассказывайте своим друзьям. Мы надеемся, этот блог поможет вам познакомиться поближе с процессом разработки, познакомит вас с людьми, создающими эту игру и тем, чего мы хотим достигнуть.</p>
                <h3>История из песочницы</h3>
                <p>Игра <b>Starbound</b> начинается с побега на космическом шатле с вашей родной планеты, которая только что была уничтожена неизвестным противником. Без навигации и в неизвестном направлении вас выстреливают в спасательной капсуле в космос, где вы безнадёжно теряетесь в бездне звезд. По счатсливой случайности вам удаётся пристыковать свой шатл к заброшенной станции, с чего и начинаются ваши приключения, которые проведут вас через всю вселенную. <b>Starbound</b> содержит квесты и сюжетные миссии, которые будут встречаться вам в огромной вселенной&ndash;песочнице.</p>
                <h3>Космическая станция</h3>
                <p>Космическая станция в <b>Starbound</b> может расти и совершенствоваться. Во время вашего путешествия вы узнаете как её улучшать и сможете вернуть ей былую славу. Вам надо будет собрать команду, проводить исследования, ловить редких существ и построить множество объектов. От завода по сборке роботов до лаборатории, в которой пойманные жертвы могут быть обучены и натренированы. На космической станции есть всё необходимое для исследования вселенной.</p>
                <p>
                    <a href="/uploads/0000/dropship1-21.png"><img src="/uploads/0000/dropship1-2-300x1881.png" /></a>
                    <a href="/uploads/0000/Lab1.png"><img src="/uploads/0000/Lab1-300x188.png" /></a>
                </p>
                <h3>Бесчисленное множество планет</h3>
                <p>Планеты в <b>Starbound</b> генерируются процедурно и полностью наполняются уникальным содержимым. Мы разрабатывали генерацию планет с простым условием: не должно существовать двух одинаковых планет. Процедурно генерируются даже самые незначительные детали, которые можно было и не создавать. Генерируется не только ландшафт, но и погода, гравитация, сложность игры, растительность, поведение и внешность существ, и  многое другое выглядит случайно или процедурно сгенерированным.</p>
                <h3>Мы хотим, чтобы вы почувствовали себя исследователем!</h3>
                <img src="/uploads/0000/Wheelybot.gif" align="right" />
                <p>Так как мы очень много внимания уделяем уникальности планет, мы хотим наделить вас инструментами, чтобы каталогизировать данные которые вы собрали и убедиться, что абсолютно всё, что вы найдёте, имеет своё значение в мире. Это очень похоже на старые игры, в которых можно получить описание любого без исключения объекта, даже деревьев и цветов.</p>
                <p>Видите странное инопланетное дерево? Исследуйте его! Может быть вы узнаете что-то о его использовании! Любому исследователю очень важно делиться своими открытиями. Если игра будет полностью кооперирована (Бери с собой друзей! Организуй экспедицию!), ты можешь записывать все свои находки в электронный журнал. Ваша, да и вообще все планеты имеют свои уникальные координаты во вселенной, которыми вы можете поделиться, чтобы другие игроки тоже смогли посмотреть что вы нашли!</p>
                <p>
                    <a href="/uploads/0000/TentaclePlanet-3.png"><img src="/uploads/0000/TentaclePlanet-3-300x168.png" /></a>
                    <a href="/uploads/0000/krabmikaze.png"><img src="/uploads/0000/krabmikaze-300x168.png" /></a>
                </p>

                <h3>Найдите новый дом</h3>
                <p>Исследования - это замечательно, но каждому нужно место, которое он смог бы называть домом. И мы даём вам возможность занять целую планету!</p>
                <p>Когда вы объявите планету своей собственной, перед вами откроется широкий спектр игровых возможностей. Всё, что делает планету уникальной - подвластно вам. Хочется изменить погоду? Постройте метеостанцию! Не нравится ландшафт? Измени его! Каждая деталь планеты под вашим контролем. Как только вам всё начнёт нравится, начинайте населять планету персонажами, которых встретите в своих путешествиях, и позаботьтесь о них! У них есть масса потребностей и желаний и они не постесняются попросить вас о помощи, если она им понадобится.</p>
                <p><b>Это всего-лишь набросок того, чего мы подгатавливаем для вас в <b>Starbound</b>.</b></p>
                <p><b>Посещайте нас почаще, чтобы получать свежие новости, демонстрации новых возможностей и другие материалы.</b></p>
                <p><b>Мы будем предоставлять много интересной информации в нашем блоге, оставайтесь с нами!</b></p>
        {% endblock %}
        {% block date %}{% endblock %}
        {% block footer %}Перевод страницы <a href="http://playstarbound.com/about/" target="_blank">playstarbound.com/about/</a>{% endblock %}
{% endembed %}
</div>