<div id="news">
{% embed "blocks/table.twig" with {nodate: true, withcomments: true, icon: 5} %}
        {% block title %}Часто задаваемые вопросы{% endblock %}
        {% block content %}
                <h3>Что такое <b>Starbound</b>?</h3>
                <p><b>Starbound</b> &mdash; новая игра, разрабатываемая Chucklefish, компанией инди-игр. Подробнее можно почитать на странице &laquo;<a href="/about/">Об игре</a>&raquo;.</p>
                <h3>Кто разрабатывает игру?</h3>
                <p>Всей разработкой <b>Starbound</b> занимается компания Chucklefish.</p>
                <h3>Когда выйдет игра?</h3>
                <p>В 2013 году. Раньше мы уже называли примерные сроки, но ошиблись. Оценить точную дату выпуска для игры масштабов <b>Starbound</b> невероятно сложно! Но, поверьте, в 2013 году игра точно выйдет. Как только станут известны точные сроки, мы сообщим об этом.</p>
                <h3>Какие платформы поддерживаются игрой?</h3>
                <p>Запуск <b>Starbound</b> будет возможен на Windows, Mac и Linux.</p>
                <h3>Планируется ли консольная версия?</h3>
                <p>Как только мы выпустим игру для ПК, мы оценим, насколько оправдана версия для консолей. Мы заинтересованы в том, чтобы в игру смогли играть как можно больше людей.</p>
                <h3>Будет ли в игре мультиплеер?</h3>
                <p>В <b>Starbound</b> будет командно-конкурентный мультиплеер. Количество игроков зависит только от сервера и мы очень усердно работаем над тем, чтобы сервер был удобен для объединения в сообщества.</p>
                <h3>Сколько игра будет стоить?</h3>
                <p>Цена ещё неизвестна, но мы хотим, чтобы игра была каждому по карману!</p>
                <h3>Каковы системные требования?</h3>
                <p>Игра всё ещё в разработке, так что требования могут меняться. Но у нас есть положительный опыт её запуска на очень старых компьютерах!</p>
                <h3>Можно ли делиться информацией об игре и выкладывать ролики на YouTube?</h3>
                <p>Конечно можно! Если вы партнер Youtube и волнуетесь о том, что вам может понадобиться письменное разрешение на использование содержимого <b>Starbound</b>, то вот наше официальное согласие: мы будем только рады, если вы заработаете на видео с использованием <b>Starbound</b>!</p>
                <h3>На каком языке пишется <b>Starbound</b>?</h3>
                <p>C++</p>
                <h3>Можете рассказать ещё что-нибудь про <b>Starbound</b>?</h3>
                <p>У нас полно нераскрытой информации, о которой мы ещё хотели бы рассказать! Оставайтесь с нами, читайте блог разработчиков, подписывайтесь на наш Twitter, Facebook и слушайтесь маму!</p>
                <h3>Как с вами можно связаться?</h3>
                <p>Зайдите на <a href="http://playstarbound.com/contact/" target="_blank">страницу контактов</a>, в Twitter, Facebook, на <a href="http://community.playstarbound.com/index.php">форум</a> и в <a href="http://playstarbound.com/live-chat/" target="_blank">чат</a>. Команда разработчиков почти всегда там.</p>
                <p><img src="/uploads/0000/mech.gif" /></p>
                <h3>Можно на этом покататься?</h3>
                <p>Да :)</p>
        {% endblock %}
        {% block date %}{% endblock %}
        {% block footer %}Перевод страницы <a href="http://playstarbound.com/faq/" target="_blank">playstarbound.com/faq/</a>{% endblock %}
{% endembed %}
</div>
