<div id="news" style="text-align:center">
    <h2>Форум был разрушен неизвестным захватчиком</h2>
    <p>Наши существа уже работают над постройкой нового.</p>
    <p><img src="/uploads/monsters/{{ random(['14','43','44','45','46','47','7']) }}.gif" /></p>
    <p>Ну а пока вы можете пообщаться на <a href="http://playstarbound.com/forums-2/" target="_blank">официальном форуме <b>Starbound</b></a>.</p>
</div>