<div id="news" style="text-align:center">
    {% if code == 404 %}
    <h2>Страница не обнаружена!</h2>
    <p>Такой страницы не существует в этой вселенной! Попробуйте <a href="http://www.google.com/" target="_blank">поискать в другой</a>.</p>
    {% else %}
    <h2>Неизведанная ошибка!</h2>
    <p>Наши существа уже начали работать над этой проблемой! Прилетайте исследовать нашу планету немножко позже.</p>
        {%  if debug %}
            {{error}}
        {%  endif %}
    {% endif %}
    <p><img src="/uploads/monsters/{{ random(['14','43','44','45','46','47','7']) }}.gif" /></p>
</div>